.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  min-height: 500px;
  padding: 0px 50px;
}

.img {
  border-radius: 25%;
}

.shape {
  position: absolute;
  left: 0;
  z-index: 0;
  background: linear-gradient(to right, #98c178, #85b75f);
  height: 100%;
  width: 50%;
  transform: skewX(-45deg);
  transform-origin: top right;
}

.row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  z-index: 1;
}

@media (prefers-color-scheme: dark) {
  .text {
    color: white !important;
  }
}

@media only screen and (max-width: 640px) {
  .shape {
    width: 100%;
  }

  .text > h1 {
    color: white !important;
  }

  .text > h2 {
    color: white !important;
  }

  .text > h3 {
    color: white !important;
  }
}
