.header {
  background: linear-gradient(to right, #98c178, #85b75f);
  position: fixed;
  z-index: 2;
  width: 100%;
}

.dropdown {
  display: none;
}

.menu {
  text-transform: uppercase;
}

.horizontalMenu {
  display: inline;
}

@media only screen and (max-width: 640px) {
  .menu {
    background-color: white !important;
  }

  .horizontalMenu {
    display: none;
  }

  .menu > li {
    color: black !important;
  }

  .dropdown {
    display: inline;
  }

  @media (prefers-color-scheme: dark) {
    .menu {
      background-color: black !important;
    }

    .menu > li {
      color: white !important;
    }
  }
}
